.input {
    width: 30px;
}
.field{
    display: flex;
    flex-flow: column;
}
.field * {
    margin: 10px;
}

#nodeSize {
    width: 10em;
    height: 2em;
}

#createGridBut {
    width: 10em;
    height: 2em;
    background-color: green;
    border: 3px solid green;
}

#methodList {
    width: 10em;
    height: 2em;
}

#calculateBut {
    width: 10em;
    height: 2em;
    background-color: green;
    border: 3px solid green;
}